html
	head
	body
		p.text-larger WEBサイトのお問合せフォームより、<br>以下の内容のお問合せを受信しました:
		p ----------------------------------------
		if enquiry.enquiryType
			p.text-larger お問合せの種類:
				| <strong> #{enquiry._.enquiryType.format()} </strong>
		if enquiry.company
			p.text-larger ご所属（会社名等）:#{enquiry.company}
		if enquiry.name.full || enquiry.email
			p.text-larger お名前：
				if enquiry.name.full
					| <strong> #{enquiry.name.full}</strong>
			p.text-larger メールアドレス：
				if enquiry.email
					| <a href="mailto:#{enquiry.email}"><strong>#{enquiry.email}</strong></a>
		if enquiry.phone
			p.text-larger 電話番号: #{enquiry.phone}
		if enquiry.message
			.text-larget メッセージ：<br>!{enquiry.message.html}
		p.text-muted 受信日時： #{enquiry._.createdAt.format()}
		p &nbsp;
